@function rem($font-size, $rem-base: 10) {
  @return ($font-size/$rem-base) *1rem;
}

// typo

@mixin font($size, $weight, $line-height, $color: $color__dark) {
  font-family: $primary__typo;
  font-size: $size;
  font-weight: $weight; 
  line-height: $line-height;
  color: $color;
}

@mixin roomTitle {
  @include font(2.4rem, 500, 140%);

  @media (max-width: $screen-lg) {
    @include font(2.1rem, 500, 120%);
  }
}

@mixin sectionTitle {
  @include font(1.8rem, 700, 120%);
}

@mixin optionTitle {
  @include font(1.5rem, 700, 120%);
}

@mixin optionGroupTitle {
  @include font(1.8rem, 500, 120%);
}

@mixin buttonTitle {
  @include font(1.8rem, 600, 120%);
}

@mixin h2__LG {
  @include font(3.6rem, 700, 120%);
  font-family: $openSans__typo;
}

@mixin h3__LG {
  @include font(2.8rem, 700, 120%);
  font-family: $openSans__typo;
}

@mixin h4__LG {
  @include font(2rem, 700, 120%);
  font-family: $openSans__typo;
}

@mixin lead {
  @include font(2.4rem, 400, 135%);
  font-family: $openSans__typo;

  @media (max-width: $screen-lg) {
    @include font(2.1rem, 400, 135%);
    font-family: $primary__typo;
  }
}

@mixin p__small {
  @include font(1.44rem, 400, 135%);
}

@mixin description {
  @include font(1.5rem, 300, 135%);
}

// position

@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// size

@mixin squareSize($size) {
  width: $size;
  height: $size;
}

