@import './mixins';

// colors

$dark-grey: #333447;

$color__dark:               #000;
$color__grey--87:           #212121;
$color__grey--54:           #757575;
$color__grey--38:           #9e9e9e;
$color__grey--transparent:    rgba(0, 0, 0, 0.32);
$color__grey--12:           #e0e0e0;
$color__grey--6:            #f0f0f0;
$color__bright:             #fff;

$color__primary:            #8d705d;
$color__primary--dark:      #8d705d;
$color__secondary:          #00d2d3;

$color__selected:             rgba(42, 152, 220, 0.12);

$color__cta:                $color__primary;
$color__cta-hover:          rgba($color__cta, 0.7);

//Should be edited
// colors
$color__primary: #8d705d;
$color__primary--tertiary: rgba(45,60, 77, 0.06);
$color__pink: #D60070;
$color__brand--primary: #2d3c4d;

$color__accent: #2e3b4e;

$color__bright: #FFFFFF;

$color__grey_3: rgba(0,0,0,.03);
$color__grey_6: rgba(0,0,0,.06);
$color__grey_15: rgba(0,0,0,.15);
$dark-grey: #333447;

$color__option--bg: rgba(46, 59, 78, 0.06);

// Appenzeller Huus COLORS

$color__cta-primary--default: #447094;
$color__cta-primary--hover: rgba(68, 112, 148, 0.72);
$color__cta-primary--active: #4D4D4D;
$color__cta-primary--shade: rgba(68, 112, 148, 0.06);

$color__cta-secondary--default: #1F4D5B;
$color__cta-secondary--hover: rgba(31, 77, 91, 0.72);
$color__cta-secondary--active: #4D4D4D;
$color__cta-secondary--shade: rgba(31, 77, 91, 0.06);

$color__forms-icons: rgba(0, 0, 0, 0.16);
$color__forms-border: $color__dark;
$color__forms-selected: #1757BD;

$color__icons: #FF0230;

$color__seperator: rgba(0, 0, 0, 0.08);

$color__state-info: #1757BD;
$color__state-success: #9BC524;
$color__state-warning: #DEA71A;
$color__state-error: #903E41;

// typography

$primary__typo: 'NNNouvelleGroteskSTD', sans-serif;
$openSans__typo: 'Open Sans', sans-serif;

// sizes

// mobile (425px)
$screen-md: 424px;
// Tablets (768px)
$screen-lg: 767px;
// desktop-small (1024)
$screen-xl: 1023px;
// desktop-normal (1440)
$screen-xxl: 1439px;