:root {
  --color__primary:            #8d705d;
  --color__primary--tertiary:  rgba(45,60, 77, 0.06);
  --color__brand--primary:     #2d3c4d;

  --color__secondary:          #00d2d3;

  --color__selected:           #2E3B4E;

  --color__cta:                var(--color__primary);
  --color__cta-hover:          rgba(var(--color__cta), 0.7);

  --color__option--bg:         rgba(46, 59, 78, 0.06);


  --title__typo: 'NNNouvelleGroteskSTD', sans-serif;
  --description__typo: 'NNNouvelleGroteskSTD', sans-serif;

}
