@import '../../assets//scss/abstracts/variables';

.group__wrapper {
    position: relative;
    width: 100%;
}

.tabs__wrapper {
  width: 100%;
  display: flex;

  @media (max-width: 1000px) {
    max-width: 31rem;
    margin: 0 auto;
  }
}

.tabs {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-bottom: 2.4rem;
  border-bottom: 0.2rem solid;

  span {
    flex: 1 1 0px;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
  }

  &.shifted {
    left: 50%;
  }

  .active {
    background: $color__primary--dark;
    color: $color__bright;
    font-weight: 600;
  }
}

.group {
  position: relative;
  width: 100%;
  opacity: 0;

  &.active {
    opacity: 1;
  }
}

.card__wrapper {
  position: relative;
  margin-bottom: .5rem;
  padding: .5rem 1rem 1rem;
  background: var(--color__primary_10);

  @media (max-width: 1000px) {
    padding: .5rem 2.4rem 5rem;
  }

  .mod__title, .mod__subTitle {
    margin-bottom: 0 !important;
    margin-right: 2rem;
    line-height: 2.4rem;
    font-weight: 700;
  }

  .mod__description {
    margin-bottom: 1.6rem;
    @include font(1.6rem, 300, 135%);
  }
  
  .card_group__number span{
    display: none;
  }

  &.collapsed {
    background: transparent;

    .card__list {
      overflow: hidden;
      max-height: 30rem;
      transition: all 0.4s ease-in-out;
    }

    .mod__description {
      display: none;
    }
  }
  
  &.inLine {

    .card__list {
      width: 100%;
      overflow: hidden;
      transition: all 0.4s ease-in-out;
    }
  }

  .card_group__number span {
    @include flex-center-center;
    @include squareSize(2.4rem);
    background: rgba($color__dark, 0.06);
    border-radius: 50%;
    @include font(1.4rem, 700, 135%, $color__grey--transparent);
  }
  
  .card__header {
    @include flex-start-center;
    height: 4rem;
    cursor: pointer;

    @media (max-width: 1000px) {
      max-width: 31rem;
      margin: 0 auto;
    }

    .checkIcon {
      position: absolute;
      @include squareSize(2.5rem);
      border-radius: 50%;
      background-color: var(--color__secondary);
      right: 1rem;
      fill: $color__bright;
    }
  
    .checkIconColor {
      fill: $color__bright;
    }
  }
  
  .card__list {
    overflow: hidden;
    max-height: 200rem;
    transition: all 0.4s ease-in-out;
    display: none;

    &.active__list {
      display: block;

      @media (max-width: 1000px) {
        max-width: 31rem;
        margin: 0 auto;
      }
    }
  }
  
  .card__groupTitle{
    margin-left: 2rem;
  }
  
  
  .card__block {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .arrow {
    cursor: pointer;

    &:before {
      content: '';
      position: relative;
      display: inline-block;
      @include squareSize(.6rem);
      border-style: solid;
      border-width: 2px 2px 0 0;
      vertical-align: middle;
      margin-right: 1.6rem;
      transform: rotate(-45deg);
    }

    &.rotate {
      &:before {
        transform: rotate(-225deg);
      }
    }
  }
}
  
.individual {
  height: 5rem;
  @include font(1.6rem, 400, 1.9rem);

  @media (max-width: 1000px) {
    max-width: 31rem;
    margin: 0 auto;
  }

  &.individual__inLine {
    height: 0px;
    overflow: hidden;
  }
}

.card__blockWrapper {
  position: relative;
}
  