@import "../../../assets/scss/abstracts/variables";

.contactForm {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  @include flex-center-center;
  background: rgba(143, 143, 143, .7);
  z-index: 100;

  @media (max-width: $screen-lg) {
    overflow-y: auto;
    align-items: start;
  }

  &__block {
    width: 36rem;
    margin: 2.4rem 0;

    @media (max-width: $screen-lg) {
      width: 36rem;
    }
  }

  &__header {
    @include flex-between-center;
    height: 5.6rem;
    background-color: $color__brand--primary;
    padding-left: 2.4rem;
    @include font(2.1rem, 300, 135%, $color__bright);
  }

  &__closeBtn {
    @include flex-center-center;
    @include squareSize(5.6rem);
    cursor: pointer;

    svg {
      @include squareSize(1.8rem);
    }
  }

  &__content {
    display: flex;

    @media (max-width: $screen-lg) {
      flex-direction: column;
    }

    &_left {
      width: 100%;
      padding: 2.4rem;
      background-color: #ebebeb;

      @media (max-width: $screen-lg) {
        width: 100%;
      }
    }

    &_title {
      @include font(2rem, 700, 120%);
    }

    &_text {
      margin: 2.4rem 0;

      ul {
        margin-top: 2.4rem;
        margin-left: 4rem;

         li {
          list-style: disc;
          text-transform: capitalize;
        }
      }
    }
  }

  .form_buttons {
    @include flex-between-center;

    a {
      width: 15rem;
    }

    &_reset {
      display: block; 

      a {
        width: 100%;

        &:first-of-type {
          margin-bottom: 0.8rem;
        }
      }
    }
  }
}
