.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.hidden-sm {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.ofi {
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
